<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>POC SGO</title>

<script type="text/javascript" th:src="@{/jquery-3.6.3.min.js}"></script>
<script type="text/javascript" th:src="@{/personas/app.bundle.js}" defer></script>
</head>

<body>
	<div class="container">

		<div class="modal fade" id="modalMessage" tabindex="-1" role="dialog"
			aria-labelledby="modalMessage" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="modalMessageTitle">Atenci&oacute;n</h5>
						<button type="button" class="close" data-bs-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body" id="modalMessageContent"></div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">Aceptar</button>
					</div>
				</div>
			</div>
		</div>


		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="exampleModalLabel">Ingreso de Personas
							</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						
						<div class="card-body">

							<form th:action="@{/personas/guardar}" method="post">
								<div class="form-group row">
									<label class="col-sm-2 col-form-label" for="descripcion">Id</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" name="id" id="id" />
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-2 col-form-label" for="fecha_creacion">Nombres</label>
									<div class="col-sm-6">
										<input type="input" class="form-control" name="nombres"
											id="nombres" />
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-2 col-form-label" for="vgencia">Apellidos</label>
									<div class="col-sm-6">
										<input type="input" class="form-control" name="apellidos"
											id="apellidos" />
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-2 col-form-label" for="vgencia">Pais</label>
									<div class="col-sm-6">
										<input type="input" class="form-control" name="pais" id="pais" />
									</div>
								</div>
								<br>
								<input type="submit" value="Grabar" class="btn btn-secondary" />
								<button type="button" class="btn btn-secondary"
									data-bs-dismiss="modal">Cerrar</button>

							</form>
						</div>


					</div>
					
				</div>
			</div>
		</div>

		<div class="card">
			<h5 class="card-header">Personas</h5>
			<div class="card-body">
				<button type="button" class="btn btn-primary" data-bs-toggle="modal"
					data-bs-target="#exampleModal">Crear Persona</button>
				<table id="personas" class="display">
					<thead>
						<tr>
							<th>Id</th>
							<th>Nombres</th>
							<th>Apellidos</th>
							<th>Pais</th>
							<th>Acciones</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</body>

<script>
	const config = {
		context : ""
	};
</script>

</html>
